name: Publish Release

permissions:
  contents: write

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: windows-latest
    env:
      python_ver: 3.11

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: get version
        id: version
        uses: notiz-dev/github-action-json-property@release
        with: 
          path: 'plugin.json'
          prop_path: 'Version'
      - run: echo ${{steps.version.outputs.prop}} 
      - name: Run Build Script
        run: python build.py -f "Flow.Launcher.Plugin.VirtualDesktops-v${{steps.version.outputs.prop}}"

      - name: Publish
        if: success()
        uses: softprops/action-gh-release@v1
        with:
          files: 'dist/*'
          tag_name: "v${{steps.version.outputs.prop}}"
